<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        div(class="my-plane-card")
            div(class="img")
                img(class="wide" src="https://www.gaibang365.com/v2/static/images/user/11.png")
            div(class="text")
                div(class="title") 未命名
                div(class="tips")
                    div(class="left") 公众号推送小图
                    div(class="right") 1天前
            div(class="model")
        div(class="my-plane-card")
            div(class="img")
                img(class="long" src="//1.s91i.faiusr.com/4/AFsIhK06EAQYACD_i--lBSjw57blBjCgBjjQDw!450x450.png?v=1577300805")
            div(class="text")
                div(class="title") 未命名
                div(class="tips")
                    div(class="left") 公众号推送小图
                    div(class="right") 1天前